.sideInner {
    width: 70px;
}

.hi-icon-wrap {
    width: 70px;
}

.sideNavi {
    width: 70px;
}

#container {
    margin-left: 70px;
    margin-bottom: 0px;
}

.sideNavi ul li {
    height: 115px !important;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.item.w2 {
    width: 19.99% !important;
}

.item.g2.isotope-item {
    width: 19.99% !important;
}

.item.g1.isotope-item {
    width: 19.99% !important;
}

body {
    background-color: #fff !important;
}

.sideNavi ul li a {
    font-size: 7px !important;
}

li {
    margin-left: -6px;
}

figcaption .readMore {
    background: url(../../img/frontend/star.png) repeat-x;
    margin-top: 10px;
}

.profile.contentHolder.transparent.scrollContent.transparentAbout {
    width: 97%;
}

.profile.contentHolder.transparent.scrollContent.transparentAbout {
    z-index: 9999;
}

a.close {
    margin-top: -30px;
    margin-right: -30px;
}

.contentTeam {
    float: right;
}
