<template>
    <div class="alert alert-info alert-dissmisable" role="alert" >
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong v-if="title">{{ title }}</strong> <slot></slot>
    </div>
</template>
<script>
    export default {
        props: {
            type: String,
            title: String,
            close: {
                type: Boolean,
                default: true
            }
        },
        mounted: {}
    }
</script>