/* Popup container - can be anything you want */
.popup-search {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup-search .popuptext {
    visibility: hidden;
    width: 1000px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 10px;
    left: 45%;
    margin-left: 65px;
}

/* Popup arrow */
.popup-search .popuptext::after {
    content: "";
    position: absolute;
    right: 100%;
    top: 20%;
    margin-left: -5px;
    border-width: 14px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.8) transparent transparent;;
}

/* Toggle this class - hide and show the popup */
.popup-search .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}