img.mCS_img_loaded {
    z-index: 9;
    cursor: pointer;
    position: relative;
}

.profile .profile-image .profile-status.online {
    z-index: 99;
    background: #82b440;
}

button.bio.btn.btn-primary {
    width: 25% !important;
}

button.private.btn.btn-danger {
    width: 49.1% !important;
}

button.credits.btn.btn-warning {
    width: 25% !important;
}

.btn.btn-warning:hover {
    background: #808080 !important;
    border-color: #808080 !important;
}

.btn.btn-warning {
    border-color: #696969 !important;
    background: #696969 !important
}

a.live {
    color: white;
    text-decoration: none;
}

.dev-page.dev-page-login.dev-page-login-v2 {
    background-position: center !important;
}
.dev-page.dev-page-login .dev-page-login-block__footer {
    color: white !important;
}